.content-gap {
  padding: 0 10px;
}

.add-form {
  padding: 10px 16px;
  margin-top: 17px;
}

.picker {
  margin-top: 13px;
  padding: 0 8px;
  padding-bottom: 20px;
}

.picker-header {
  font-size: 13px;
  color: #A9A9A9;
  padding: 13px 0;
}