.search {
  border-radius: 4px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9px;
  background: #EAEBF0;
  margin: 12px 18px;
  flex-shrink: 0;
}
.search > :global(.icon) {
  font-size: 18px;
  color: #A6AAB3;
}
.search-body {
  flex-grow: 1;
  padding-left: 8px;
  display: flex;
  align-items: center;
  position: relative;
}
.search-fake {
  color: #A6AAB3;
  font-size: 15px;
  flex: 1;
}
.search-input {
  -webkit-appearance: none;
  flex-grow: 1;
  border: 1px solid transparent;
  color: #222;
  font-size: 15px;
  background: transparent;
  padding-right: 10px;
}
.clear {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background: #A6AAB3;
  border-radius: 9px;
  color: #EAEBF0;
  font-size: 14px;
}