.box {
  padding: 0 18px;
  background: #fff;
}
.box-header {
  display: table;
  width: 100%;
  height: 48px;
  border-bottom: 1px dashed #E5E5E5;
}
.box-header-left {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-size: 20px;
  color: #222;
  font-weight: 500;
}
.box-header-right {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.box-header-right a {
  font-size: 13px;
  color: #CFD2D9;
}
.box-header-right a :global(.icon) {
  font-size: 13px;
}
.box-chart {
  min-height: 170px;
}
.spacer {
  height: 10px;
  background: #F3F4F8;
}